body{
    font-family: 'Comfortaa', cursive;
    background: #D9D9D9;
}

.logo{
    text-align: center;
    font-weight:bolder;
    font-size: 10vh;
    padding-top: 5vh;
    color: #262626;
}

.search{
    margin-top: 5vh;
}

.res{
    text-align: center;
    padding: 1vh 2vh;
}
#temperature{
    font-size: 8vh;
    font-weight: bolder;
}
#city{
    color: #D9D9D9;
}
.result{
    background: #262626;
    color: white;
    margin-top: 5vh;
    border-radius: 1vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
}