body {
	color: white;
	background: url('./centerimg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.searchbar {
	padding-top: 3vh;
	padding-bottom: 3vh;
}

.box {
	padding: 5vh 4vh;
	text-align: center;
	justify-content: center;
	border-radius: 2vh;
}

.girl {
	background-color: rgba(253, 4, 145, 0.5);
}
.boy {
	background-color: rgba(33, 133, 208, 0.5);
}
.myheader {
	text-align: center;
	justify-content: center;
	background-color: #0d0d0d;
	padding: 2vh 2vh;
}
.footer {
	text-align: center;
	justify-content: center;
	background-color: #0d0d0d;
	padding: 2vh 2vh;
	margin-top: 2vh;
	width: 100%;
}

/* .container {
	display: grid;
	grid-template-columns: 1fr 1fr;
} */
/* .cent {
	text-align: center;
	justify-content: center;
	margin-top: 1vh;
	margin-bottom: 1vh;
	margin-top: 10vh;
	margin-left: 2vh;
	margin-right: 2vh;
	box-sizing: border-box;
} */
#temperature {
	font-size: 5vh;
	font-weight: bolder;
}
#city {
	text-transform: uppercase;
	font-size: 2vh;
	font-weight: bold;
}

#datetime,
#condition,
#clouds,
#humidity {
	font-weight: bold;
	font-size: 3vh;
	text-transform: uppercase;
}
